.container {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.container::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background: #e5e5e5; */
    /* opacity: 0; */
    transition: .5s ease all;
}

img {
    transition: .5s ease all;
    width: 100%;
    /* object-fit: cover; */
}

.container:hover img {
    transform: scale(2) rotate(10deg);

}