.scroll-button {

    animation: bounce 2s linear infinite;
}

.border_style {
    /* 
    background: repeating-linear-gradient(to right, rgb(211, 211, 211) 0,
            rgba(211, 211, 211, 0.5) 1px, rgba(255, 255, 255, 0) 1px,
            rgba(255, 255, 255, 0) 1px);
    height: 1px; */
    border: 1px dashed rgb(211, 211, 211);
}


@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.mySwiper1 .swiper-button-prev {
    color: #6c757d;

}


.mySwiper1 .swiper-button-next {
    color: #6c757d;

}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: #3d464d;

}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-weight: bolder;
    font-size: 32px !important;
}

/* React Tabs */

.react-tabs__tab--selected {
    background-color: #F5F5F5 !important;
    border-radius: 0 !important;
    border-color: #d5d2d2 !important;
}

.react-tabs__tab {
    padding: 10px 15px !important;
}

.react-tabs__tab-list {
    border-bottom: 1px solid #dedfdf !important;
}

/* .mySwiper_Details {
    height: 600px;
} */
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

button[disabled]:hover {
    background-color: #cccccc;
}

/* .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
    background-color: white !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover {
    background-color: white !important;
} */

/* .css-16jkw2k :hover,
.css-12w9als:hover {
    pointer-events: none;
} */